body {
  font-family: "Poppins", sans-serif;
  width: -webkit-max-content;
  margin: auto;
}

.body {
  background: linear-gradient(#c8a2b7, #82bfd4, #d2d6e0);
  padding: 30px;
  border: 3px solid hsl(220, 8%, 69%);
  border-radius: 25px;
}

a {
  text-decoration: none;
  color: #4798c7;
  padding: 0 2px;
}

a:hover {
  color: #4e525a;
}

.daysoftheweek span {
  font-size: 16px;
  margin-left: 0;
  padding: 0 0 0 3px;
}

.current-temp {
  font-size: 65px;
  color: #4e525a;
  font-weight: 500;
  padding: 10px 0 0 0;
  float: left;
}

.temp-conversion {
  float: left;
  line-height: 4;
}

.temp-conversion .active {
  color: #4e525a;
  font-style: bold;
}

ul,
.daysoftheweek {
  display: block;
  list-style: none;
  color: #676d7a;
  margin: 0 auto;
  padding: 0;
}

.current-details {
  padding: 65px 25px 0 0;
  float: center;
}

.Footer {
  text-align: center;
  font-size: 12px;
  color: #676d7a;
  padding: 5px 0 0 0;
}
